@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin responsive($breakpoint) {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}

@mixin apply-font($font-family) {
  font-family: $font-family;
}

h1{
  @include apply-font($font-family-title);
}