@use "./variables";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e8d8d8; // 背景色を設定


  &__logo {
    width: auto;
    height: 100px;
  }

  &__nav {
    ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
        padding: 10px 20px;

      li {
        margin-right: 20px;
        font-family: 'Yu Mincho', serif; // フォントを設定
        font-size: 1.2em;

        &:last-child {
          margin-right: 0;
        }

        a {
          text-decoration: none;
          color: #333;
          position: relative;
          padding: 0 10px;

          &:hover {
            color: #666;
          }

          &::after {
            content: '／';
            position: absolute;
            right: -10px;
            color: #333;
          }

          &:last-child::after {
            content: '';
          }
        }
      }
    }
  }
}

.image-container {
  position: relative;
  display: inline-block;
  width: 100%;

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    font-size: 56px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-family: "Kaisei Decol",
    serif;
    font-weight: 400;
    font-style: normal;
  }
}
