.image-container {
  position: relative;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;

  img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
      object-fit: cover;
  }

  .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-weight: 900;
    font-style: normal;
    width: 80%;
  }
}
@import "../utils/typography.scss";
.shop_intro {
  background-color: #d9e8d4;
  padding: 100px;
  text-align: center;
    background-image: url("../../img/intro_bg.png");
    background-size: cover;
    /* 画像を画面全体にフィットさせる */
    background-position: center;
    /* 画像を中央に配置 */
    background-repeat: no-repeat;
    /* 画像を繰り返さない */
    margin: 0;
    h2,h3,p,img{
      margin: 50px;
      color: #fefefe;
    }
    h2{
      font-family: $font-family-title;
      font-size: 3rem;
      padding-bottom: 2rem;
    }
    h3{
      font-size: 1.75rem;
            font-family: "Yu Mincho",
            serif;
    }
    p{
      font-size:1.5rem;
      font-family: "Yu Mincho",serif;
    }
}

.shop_images {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.shop_image {
  width: 30%;
  border-radius: 15px;
  height: 200px;
}

.business_hours {
  margin-top: 20px;
}

.menu{
  padding: 100px;
  background-image:url("../img/menu-bg.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: block;
  h2{
      font-family: $font-family-title;
      font-size: 3rem;
      padding-bottom: 2rem;
      }

  img{
    width: 50vw;
  }
}